node_modules
\.cache
\.env
dist
*.crt
*.key

.DS_Store

Adobe Cloud Manager Menubar-darwin-x64/

Cloud Manager Menubar-darwin-x64/

Cloud Manager Desktop-darwin-x64/

Cloud Manager Desktop-win32-x64/
