/* utils */
.no-decoration {
  text-decoration: none;
}

.router-link-reset {
  text-decoration: none;
  color: unset;
}

.center-items {
  display:flex;
  justify-content:center
}

.bordered-box {
  border: 1px solid rgb(225, 225, 225);
  padding: 1em;
  border-radius: 4px;
}

.d-block {
  display: block !important;
}

coral-alert {
  width: 100%;
}